<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescriptioN</key>
	<string>&quot;This app uses your location to provide continuous navigation even when the app is not in the foreground.&quot;</string>
</dict>
</plist>
